<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="imperial.heriberto.cuidavet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuidaVet">
        <activity
            android:name=".CerrarSesionActivity"
            android:exported="false" />
        <activity
            android:name=".CambiarContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".CambiarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".NotasActivity"
            android:exported="false" />
        <activity
            android:name=".HorariosActivity"
            android:exported="false" />
        <activity
            android:name=".BaniosActivity"
            android:exported="false" />
        <activity
            android:name=".CitasVeterinarioActivity"
            android:exported="false" />
        <activity
            android:name=".CaminarActivity"
            android:exported="false" />
        <activity
            android:name=".TipsActivity"
            android:exported="false" />
        <activity
            android:name=".Foro2_Activity"
            android:exported="false" />
        <activity
            android:name=".EmergenciaActivity"
            android:exported="false" />
        <activity
            android:name=".ForoActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarioActivity"
            android:exported="false" />
        <activity
            android:name=".MascotasActivity"
            android:exported="false" />
        <activity
            android:name=".irActivity"
            android:exported="false" />
        <activity
            android:name=".sentarseActivity"
            android:exported="false" />
        <activity
            android:name=".darpatitaActivity"
            android:exported="false" />
        <activity
            android:name=".Compras2"
            android:exported="false" />
        <activity
            android:name=".ComprasActivity"
            android:exported="false" />
        <activity
            android:name=".entrenamientoActivity"
            android:exported="false" />
        <activity
            android:name=".mascotanuevaActivity"
            android:exported="false" />
        <activity
            android:name=".Registro2_Activity"
            android:exported="false" />
        <activity
            android:name=".AvisoPrivacidadActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".menuActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".DailyCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".EventEditActivity"
            android:exported="false" />
        <activity
            android:name=".WeekViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityCalendar"
            android:exported="false" />


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>